*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }  
  
  .alto{
      height: 85vh;
  }
  .filter{
      -webkit-filter: brightness(60%);
      filter: brightness(60%);
  }
  .no-filter{
    -webkit-filter: brightness(100%);
    filter: brightness(100%);
  }
  
  .mx-0 {
    margin-left: 0;
    margin-right: 0;
  }
  .alto-menu {
    height: 15vh;
  }
  .navbar-brand {
    padding-left: 3%;
  }
  .navbar-nav {
    padding-left: 15%;
  }
  .container-cards {
    padding-left: 5%;
    margin-bottom: 2%;
    width: 90%;
    height: 100vh;
  }
  .alto-card {
    height: 88vh;
  }
  .card-title {
    font-size: 16px;
    font-weight: 400;
  }
  .card-text {
    font-size: 12px;
  }
  .btn-text {
    font-size: 9px;
    font-weight: 700;
    padding: 0px;
  }
  h6 {
    font-size: 9px;
    
  }
  h4 {
    margin-top: -20px;
  }
  .pantalla-dividida {
    height: 80vh;
    
  }
  .foto-playa {
    background-image: url(img/honolulu.jpg);
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  .formulario {
    width: 60%;
    height: 60vh;
  }
  .dotted {
    text-decoration-line: underline;
    text-decoration-style: dotted;
  }
  .text-left {
    font-size: 11px;
  }
  .text-form {
    font-size: 14px;
  
  }
  .form-control-xs {
    height: 23px;
  }
  .btn-form {
    background-color: rgb(151, 225, 39);
    color: white;
  }
  .alto-footer{
    height: 15vh;
    }
  .bg-footer {
    background-color: rgb(28, 66, 80);
  }  
  footer {
    margin-top: 3%;
  }
  
  footer a {
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 12px;
    text-align: center;
    padding-top: 20%;
  }
  footer a:hover {
    color: black;
  }
    .container-tickets {
      width: 60%;
      height: 45vh;
  }
    .card-ticket-body p{
      line-height: 1rem;
  }
    .card-ticket-title {
      font-size: 22px;
      font-weight: 400;
  }
    .card-ticket-text {
      font-size: 16px;
  }
    .formulario-tickets {
      width: 60%;
      height: 80vh;
  }
  
  @media screen and (max-width: 768px) {
    .alto-menu {
      height: 20vh;
    }
    .alto {
      height: 70vh;
    }    
    .container-cards {
      height: 140vh;
    }
    .card-img-top {
      width: 20%;
    }
    .alto-card {
      height: 40vh;
    }
    .ancho-card {
        width: 18rem !important;
        align-items: center;
    }
    .card {
        margin-bottom: 2%;
    }
      .container-tickets {
        display: flex;
        flex-direction: column;
        height: 120vh;
    }
      .formulario-tickets {
        margin-top: 15%;
        margin-bottom: 10%;
    }
      .alto-footer {
        height: 25vh !important; /*no me lo toma*/
    }
      .pantalla-dividida {
        height: 160vh !important;  /*no me lo toma*/
    }
      foto-playa {
        height: 50% !important;  /*no me lo toma*/
    }
      .alto-texto-playa {
        height: 50%;  /*no me lo toma*/
    }
      .texto-playa {
        font-size: 12px;
    }
      footer a {
        padding-top: 20%;
    }      
  }
    
    
    